@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: auto;
    background-color: #F01E27;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
    list-style: none;
    text-decoration: none !important;
}

.container li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 90%;
    width: 250px;
    height: 250px;
    border-radius: 4px;
    text-transform: capitalize;
    padding: 20px 0;
    min-width: 150px;
    gap: 10px;
    border: 10px solid yellow;
}

.container li p {
    color: #13000A;
    font-family: 'Francois One', sans-serif;
    font-size: 20px;
}

.error {
    font-family: 'Francois One', sans-serif;
    font-size: 20px;
    color: #fff;    
    text-align: center;
}

.container li span {
    color: #e6e6e6;
    font-family: 'Francois One', sans-serif;
}

.container li .box-name {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.container button {
    background-color: transparent;
    border: none;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 200px;
    height: auto;
    gap: 10x;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 5px 0;
}

.container button:hover {
    background-color: transparent;
    border: 2px solid #fff;
    padding: 5px 0;
}

#loading {
    margin-top: 50px;
}

.pokemon-type-normal { background-color: #A8A878; }
.pokemon-type-fighting { background-color: #C03028; }
.pokemon-type-flying { background-color: #A890F0; }
.pokemon-type-poison { background-color: #A040A0; }
.pokemon-type-ground { background-color: #E0C068; }
.pokemon-type-rock { background-color: #B8A038; }
.pokemon-type-bug { background-color: #A8B820; }
.pokemon-type-ghost { background-color: #705898; }
.pokemon-type-steel { background-color: #B8B8D0; }
.pokemon-type-fire { background-color: #F08030; }
.pokemon-type-water { background-color: #6890F0; }
.pokemon-type-grass { background-color: #78C850; }
.pokemon-type-electric { background-color: #F8D030; }
.pokemon-type-psychic { background-color: #F85888; }
.pokemon-type-ice { background-color: #98D8D8; }
.pokemon-type-dragon { background-color: #7038F8; }
.pokemon-type-dark { background-color: #705848; }
.pokemon-type-fairy { background-color: #EE99AC; }

#btnTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #3c3c3c;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
}

#btnTop:hover {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    gap: 10px;
}

.container form label {
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.container form input[name=pokemon] {
    border-radius: 4px;
    width: 250px;
    border: none;
    height: 25px;
    text-align: center;
}

.container form input[name=btnSubmit] {
    width: 200px;
    border-radius: 5px;
    background-color: #11447B;
    color: #fff;
    height: 30px;
    border: none;
    cursor: pointer;
}